.comic-home.container
  section.flex
    .comic-cover
      img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/comic%20cover.png")
    .comic-detail
      h1.comic-title.title
        | MY HEXSCHOOL
      .comic-detail-attr
        
      article.comic-summary
  section.comic-chapters
