.comic-home.container
  section.comic-info.flex
    .comic-cover
      img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/comic%20cover.png")
    .comic-detail
      h1.comic-title.title
        | MY HEXSCHOOL
      .comic-detail-attrs
        .flex
          .subtitle Genres
          .detail-attr Fusce/vehicula/dolor
        .flex
          .subtitle Author
          .detail-attr Namae Shiranai
        .flex
          .subtitle Status
          .detail-attr Ongoing
        .flex
          .subtitle Rate
          .detail-attr.rate
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
      article.comic-detail-summary
        .subtitle Summary
        p If your banker breaks, you snap; if your apothecary by mistake sends you poison in your pills, you die. 
        p Therefore, I say, I saw that this situation of mine was the precise situation of every mortal that has this Siamese connexion with a plurality of other mortals. 

  section.comic-chapters
    .comic-chapters-title
      h2.title-2 All Chapters
    .comic-chapters-container
      ol
        li
          a.subtitle(href="#") Chapter 1: The F2E Chanllenge Start!
        li.new
          a.subtitle(href="#") Chapter 2: Todo List is Going Crazy!
