.comic-home.container
  section.comic-info.flex
    .comic-cover
      img(:src="book.cover")
    .comic-detail
      h1.comic-title.title
        | {{ book.title | upperCase }}
      .comic-detail-attrs
        .flex
          .subtitle Genres
          .detail-attr {{ book.genres | slashedArray }}
        .flex
          .subtitle Author
          .detail-attr {{ book.author }}
        .flex
          .subtitle Status
          .detail-attr {{ book.status }}
        .flex
          .subtitle Rate
          .detail-attr.rate
            i.fas.fa-star(v-for="i in book.rate")
            i.far.fa-star(v-for="i in 5 - book.rate")
      article.comic-detail-summary
        .subtitle Summary
        p(v-for="item in book.summary") {{ item }}

  section.comic-chapters
    .comic-chapters-title
      h2.title-2 All Chapters
    .comic-chapters-container
      ol
        li(v-for="chapter in chapters", :key="chapter.no", :class="{new:chapter.new}")
          router-link.subtitle(:to="{name:'page', params: {cid:chapter.no, pid:'1'}}") Chapter {{ chapter.no }}: {{ chapter.title }}