.comic-page.container
  p This page was not finished
  hr

  .page-header
    .header-title
      .title-3 My Hexschool
    .header-chapter.select
      select
        option Chapter 1
        option Chapter 2
    .header-page.select
      select
        option Page 02
    .header-mode
      .toggle-group
        button(type="button")
  .page-img
    img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-1.png", alt="page image")
  .page-thumbs
    .thumbs-nav
      ol
        li
          a(href="#")
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-1.png", alt="page image")
        li
          a(href="#")
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-1.png", alt="page image")
        li
          a(href="#")
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-1.png", alt="page image")
        li
          a(href="#")
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-1.png", alt="page image")
        li
          a(href="#")
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-1.png", alt="page image")
        li
          a(href="#")
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-1.png", alt="page image")
        li
          a(href="#")
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-1.png", alt="page image")
        li
          a(href="#")
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-1.png", alt="page image")
        li
          a(href="#")
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-1.png", alt="page image")