.comic-page.container
  p This page was not finished
  hr

  .page-header
    .header-title
      router-link.title-3(to="/") My Hexschool
    .header-chapter.select
      select
        option(v-for="chapter in chapters", :value="chapter.no", :key="chapter.no", :selected="cid===chapter.no") Chapter {{ chapter.no }}
    .header-page.select
      select
        option chapter 
    .header-mode
      .toggle-group
        button(type="button")
  .page-img
    img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-1.png", alt="page image")
  .page-thumbs
    .thumbs-nav
      ol
        li(v-for="page in chapter.pages")
          a(href="#", @click.prevent="alertNotImplemented")
            img(:src="page.img", alt="page image")